body {
  font-family: "Hammersmith One", sans-serif;
  font-size: 24px;
  background-color: #fff;
}

h2 {
  color: #f47b46;
  font-family: "Indie Flower", cursive;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
