@font-face {
    font-family: 'OpenDyslexicMono';
    src: url('OpenDyslexicMono-Regular.woff2') format('woff2'),
        url('OpenDyslexicMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic 3';
    src: url('OpenDyslexicThree-Regular.woff2') format('woff2'),
        url('OpenDyslexicThree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('OpenDyslexicThree-Bold.woff2') format('woff2'),
        url('OpenDyslexicThree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

