<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EchoText Home</title>
  </head>
  <body>
    <div class="conteudo-declaracao">
        <h2 id="funcao">Insira o arquivo de texto que deseja ler</h2>
        <p>Faça o upload de um arquivo e o EchoText irá converter todo o conteúdo em áudio, incluindo descrições de imagens (alt text) e o texto principal. Sua privacidade é nossa prioridade, por isso, garantimos que nenhum arquivo será salvo em nosso banco de dados.</p>
      </div>
  
      <div class="conteudo-upload">
        <button ig="botao-upload"><img src="/static/uploads/FiFileText.svg" alt="">Selecionar arquivo</button>
        <span>Ou arraste e solte o arquivo aqui.</span>
      </div>
  </body>
</html>