<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Base</title>
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/template.css">
</head>

<body>

  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="/static/uploads/logo.svg" alt="">
        <span>EchoText</span>
      </div>

      <ul class="links">
        <li><a href="/templates/menu.html">Página Inicial</a></li>
        <li><a href="/templates/sobre.html">Sobre Nós</a></li>
      </ul>

      <div class="toggle-switch">
        <span>Alto Contraste</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div class="hamburguer">
        <i class="fa-solid fa-bars"></i>
      </div>

      <div class="dropdown-menu">
        <li><a href="/templates/menu.html">Página Inicial</a></li>
        <li><a href="/templates/sobre.html">Sobre Nós</a></li>
      </div>
    </nav>
  </header>

  <!-- Link para o arquivo JavaScript externo -->
  <script src="/static/js/script.js"></script>
</body>

</html>
